/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .img-heading-breakpoints{
    display: flex;
    gap: 4%;
    margin-bottom: 2%;
  }
  .img-heading-breakpoints >img{
    width: 150px;
    border-radius: 5%;
    height: 150px;
  }
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .form-group label {
    display: block;
    /* font-size: large; */
    font-weight: bold;

    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    /* border: blue; */
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-actions button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  .form-actions button[type="button"] {
    background-color: #f44336;
    color: white;
  }
  
  .form-actions button:hover {
    opacity: 0.9;
  }
  