/* Bottom Navigation */
.bottom-nav {
    /* position: sticky; */
    bottom: 0;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    z-index: 99;
    color: white;
    background-color: black;
    width: 80%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(30, 30, 30);
    display: flex;
    margin-top: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 12px 12px 0px 0px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
   /* color: white; */
}
.nav-item :hover{
    color: rgb(80, 67, 0);
}
.nav-item svg {
    font-size: 18px;
    margin-bottom: 3px;
}