/* Bottom Navigation for Mobile */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;                 /* Start from middle */
    transform: translateX(-50%); /* Center horizontally */
    width: calc(100% - 40px);  /* Give space on left & right (20px each) */
    max-width: 500px;          /* Prevents it from becoming too wide on tablets */
     background-color: rgb(30, 30, 30);
     color: white;
    border-top: 1px solid #ddd;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 12px 12px 0px 0px;
    box-sizing: border-box;
}

/* Items inside nav */
.mobile-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
}

.mobile-nav-item:hover {
    color: rgb(80, 67, 0);
}

.mobile-nav-item svg {
    font-size: 18px;
    margin-bottom: 3px;
}