.swiper-container {
  max-width: 260px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mySwiper {
  width: 240px;
  height: 340px;
}

.card-slide {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;   /* match your curve */
  overflow: hidden;      /* 👈 hides unwanted edges */
  position: relative;
  text-decoration: none;
  color: inherit;

}

.card-slide img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.card-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  padding: 12px;
  text-align: center;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.card-content p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #ffc107;
}
.swiper-slide-shadow,
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}
