.itinerary-box {
  margin-top: 15%;
  margin-left: 35%;
  border: 5px solid;
  max-width: 520px;
  /* margin: 30px auto; */
  font-family: Arial, sans-serif;
}
.selctorspoint{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* width: 300px; */
  gap: 20px;
}
.day-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.day-box {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.btn-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #0bbcd6;
  color: white;
  cursor: pointer;
}

.output-box {
  margin-top: 20px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 6px;
}

.duration {
  margin-top: 10px;
  font-size: 16px;
}
