.footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer >h1 {
    font-size: 55px;
}

.footer h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.icon {
    background-color: #222;
    padding: 10px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.icon:hover {
    background-color: #0077b6;
}
