.subnavbar {
  display: flex;
  align-items: center;
  gap: 120px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-around;
}

  .logo-video-container {
    height: 60px; /* Try 30px or 50px as needed */
    width: auto;
    overflow: hidden;
  }
  
  .logo-video {
    height: 100px;
    width: 150px;
    margin-left: 15px;
    object-fit: contain;
    display: block;
  }
  


/*  */

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #00aaff;
  border-radius: 20px;
  padding: 5px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  width: 200px;
}

.search-icon {
  color: #00aaff;
  font-size: 16px;
  cursor: pointer;
}

/* Menu links */
.menu-links {
  display: flex;
  gap: 25px;
}

.menu-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.menu-links a:hover {
  color: #21759b;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  top: 100%;
  transform: translateX(30%);
  z-index: 10;
}

.dropdown-item {
  display: block;
  padding: 10px;
  color: #21759b;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  margin: 5px;
  width: 80%;
  font-size: 15px;
}

.dropdown-item:hover {
  color: white;
  background-color: #21759b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Contact */
.contact-btn {
  display: flex;
  align-items: center;
  border: 2px solid #00aaff;
  border-radius: 20px;
  padding: 8px 15px;
  color: #00aaff;
  font-weight: bold;
  cursor: pointer;
  gap: 5px;
}

.phone-icon {
  color: #21759b;
}

.number {
  font-weight: bold;
}
@media screen and (max-width :768px) {
 .subnavbar{
  width: 100%;
  overflow: scroll;
  display: flex;
  gap: 8px;
 
 }  
}