body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body.quote-modal-open {
  overflow: hidden;
  height: 100vh; /* prevent small scroll jump */
}
 body.modal-open .tab-container {
  position: static; /* or static */
  z-index: 0;;
}
 body.modal-open .info-card-container.fixed {
  position: static; /* or static */
  z-index: 0;;
}
 body.modal-open .navbar {
  position: static; /* or static */
  z-index: 0;;
}
 body.modal-open .subnavbar {
  position: static; /* or static */
  z-index: 0;;
}