
.costing-table-container,
.batch-table-container {
  margin-top: 20px;
  text-align: center;
}

.costing-heading,
.batch-heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.batch-table,
.costing-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 10px;
}

.batch-table th,
.batch-table td,
.costing-table th,
.costing-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.batch-table th,
.costing-table th {
  background-color: #ddd;
  font-weight: bold;
}

.batch-table tr:nth-child(even),
.costing-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Book now button */

.book-now-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .book-now-btn {
    background-color: #00b2ff;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-now-btn:hover {
    background-color: #0091d4;
  }
  