body{
  margin : 0;
  padding: 0;
}
.mobile-container {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
  width: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
 
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  /* margin-right: 0; */
  background-color:#00BFFF;
  color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}
.mobile-log-img{
  width: 75px;
  height: 30px;
}
.mobile-logo-video{
  width: 34px;
  height: 35px;
  /* background-color: #00BFFF; */
}

.phone-number {
  font-size: 13px;
  font-weight: bold;
}

.icon {
  font-size: 18px;
  margin-left: 10px;
}
